.button {
    color: white;
    border: 4px solid white;
    font-size: x-large;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: 'Nanum Gothic Coding', monospace;
    margin-bottom: 15px;
}

.button .button-text {
    margin-bottom: -12px;
}