.button {
    color: white;
    border: 4px solid white;
    font-size: x-large;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: 'Nanum Gothic Coding', monospace;
    margin-bottom: 10px;
}

.button .button-text {
    margin-bottom: -12px;
}

.button:hover {
    color: rgb(230,68,30);
}

@media screen and (max-width: 648px) {
  .button {
    font-size: small;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .button .button-text {
    margin-bottom: -6px;
}
}
