.header {
    display: flex;
    height: 200px;
    background-size: cover;
}

.navbar-buttons {
  max-width: 1200px;
}

.brandname {
    color: rgb(230,68,30);
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 3rem;
    letter-spacing: 30px;
    text-decoration: none;
}

.brandname:hover {
    color: white;
}

@media screen and (max-width: 648px) {
  .header {
    height: 150px;
  }
  .brandname {
    display: flex;
    font-size: xx-large;
    letter-spacing: 20px;
    margin-left: 5px
  }

  .navbar-buttons {
    display: flex;
    flex-wrap: wrap;
  }
}

