.home-banner {
    height: 765px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat:no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
}

.center {
    margin-top: 200px;
    color: rgb(230,68,30);
}

@media screen and (max-width: 648px) {
  .home-banner {
    height: 580px;
  }

  .center {
    margin-top: 150px;
  }
}
