.card {
    max-width: 300px;
    height: 800px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


.card-image {
    height: 654px;
    position: relative;
    text-align: center;
}


.centered {
    font-family: 'Nanum Gothic Coding', monospace;
    position: absolute;
    top: 5px;
}

.card-image img {
    max-width: 300px;
    height: 654px;
}

.card p {
    font-family: 'Nanum Gothic Coding', monospace;
    max-width: 300px;
    color: black;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-top: 25px;
}

@media screen and (max-width: 648px) {
    .card {
        height: 630px;
        max-width: 257px;
    }
    .card h1 {
        font-size: x-small;
    }

    .card p {
    font-size: x-small;
    }

    .card-image {
        height: 550px;
    }

    .card-image img {
        max-width: 300px;
        height: 550px;
    }

    .cardContainer {
        height: 100vh;
        display: grid;
        margin-top: 25px;
        margin-top: 25px;
    }

}